<div class="user">
  <div class="user__avatar">
    <img id={{nick}} src={{photo}} alt="avatar" class="user__img current-user__img">
  </div>
  <div class="user__data">
    <div class="user__info">{{name}} {{time}}</div>
    <div class="user__message">{{message}}</div>
  </div>
</div>